@using sports_betting_app.Models
@using Newtonsoft.Json
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - sports_betting_app</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/sports_betting_app.styles.css" asp-append-version="true" />


    @{
        // use cookie to keep theme specified by user, will expire after one day
        var exists = Context.Request.Cookies.ContainsKey("Theme");

        

        if (exists)
        {
            foreach (var cookie in Context.Request.Cookies)
            {
                if (cookie.Key == "Theme")
                {
                    exists = true;
                    if (cookie.Value == "Dark")
                    {
                        /** the style sheet links determine the theme of the application */
                        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/darkly/bootstrap.min.css" asp-append-version="true" integrity="sha384-nNK9n28pDUDDgIiIqZ/MiyO3F4/9vsMtReZK39klb/MtkZI3/LtjSjlmyVPS3KdN" crossorigin="anonymous">
                    }
                    else
                    {
                        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
                    }
                    break;
                }
            }
        }
        else
        {
            /** Link light theme by default */
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/flatly/bootstrap.min.css" integrity="sha384-qF/QmIAj5ZaYFAeQcrQ6bfVMAh4zZlrGwTPY7T/M+iTTLJqJBJjwwnsE5Y0mV7QK" crossorigin="anonymous">
        }


    }
</head>
<body>
    <header>
        @{

            bool isLoggedIn = Context.Request.Cookies.ContainsKey("sports-bet-user");

            User loggedInUser = new User();

            if (isLoggedIn)
            {
                loggedInUser = JsonConvert.DeserializeObject<User>(Context.Request.Cookies["sports-bet-user"]);
            }

            // get current theme
            var currentTheme = "light";

            foreach (var cookie in Context.Request.Cookies)
            {
                if (cookie.Key == "Theme")
                {
                    currentTheme = cookie.Value;
                    break;
                }
            }

            var activeRoute = 0;

            /** grab active route */
            switch (ViewContext.RouteData.Values["Controller"].ToString())
            {
                case "Home":
                    activeRoute = 0;
                    break;

                case "Bets":
                    activeRoute = 1;
                    break;

                case "History":
                    activeRoute = 2;
                    break;

                case "UserRegistration":
                    activeRoute = 3;
                    break;

                default:
                    activeRoute = 0;
                    break;
            }


            // style the navbar according to the theme
            if (currentTheme == "Dark")
            {
                <nav class="navbar navbar-dark navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 bg-primary" data-bs-theme="dark">
                    <div class="container-fluid align-items-baseline pe-3 ps-3">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">sports_betting_app</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse" id="navbarColor01">
                            <ul class="navbar-nav mr-auto align-items-center justify-content-between">
                                <li class="nav-item">
                                    <a class="nav-link @(activeRoute == 0 ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(activeRoute == 1 ? "active" : "")" asp-area="" asp-controller="Bets" asp-action="Index">Bets</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(activeRoute == 2 ? "active" : "")" asp-area="" asp-controller="History" asp-action="Index">History</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ms-auto align-items-center">
                                @if (isLoggedIn)
                                {
                                    <li class="nav-item pe-4">
                                        <div class="d-flex flex-row align-items-center" id="name-container">
                                            <h2 class="wave">👋</h2>
                                            <h4 class="name-navbar">@loggedInUser.firstName @loggedInUser.lastName</h4>
                                        </div>
                                    </li>
                                }
                                <a class="pe-3" id="themeLink" onclick="changeTheme();">
                                    <i class="bi bi-sun-fill h4 text-warning"></i>
                                </a>
                                <li class="nav-item dropdown">
                                    @if (isLoggedIn)
                                    {
                                        <a class="nav-link dropdown-toggle @(activeRoute == 3 ? "active" : "")" id="account-dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="bi bi-person-circle h2"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end bg-primary" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" asp-controller="UserRegistration" asp-action="LogOut">Log Out</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <a asp-controller="UserRegistration" asp-action="Index">
                                            <button type="button" class="btn btn-dark">
                                                <span>Sign Up</span>
                                            </button>
                                        </a>
                                    }
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            }
            else
            {
                <nav class="navbar navbar-light navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3 bg-light" data-bs-theme="light">
                    <div class="container-fluid align-items-baseline pe-3 ps-3">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">sports_betting_app</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse" id="navbarColor03">
                            <ul class="navbar-nav mr-auto align-items-center">
                                <li class="nav-item">
                                    <a class="nav-link @(activeRoute == 0 ? "active" : "")" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(activeRoute == 1 ? "active" : "")" asp-area="" asp-controller="Bets" asp-action="Index">Bets</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link @(activeRoute == 2 ? "active" : "")" asp-area="" asp-controller="History" asp-action="Index">History</a>
                                </li>
                            </ul>
                            <ul class="navbar-nav ms-auto align-items-center">
                                @if (isLoggedIn)
                                {
                                    <li class="nav-item pe-4">
                                        <div class="d-flex flex-row align-items-center" id="name-container">
                                            <h2 class="wave">👋</h2>
                                            <h4 class="name-navbar">@loggedInUser.firstName @loggedInUser.lastName</h4>
                                        </div>
                                    </li>
                                }
                                <a class="pe-3" id="themeLink" onclick="changeTheme();">
                                    <i class="bi bi-moon-stars h4"></i>
                                </a>
                                <li class="nav-item dropdown">
                                    @if (isLoggedIn)
                                    {
                                        <a class="nav-link dropdown-toggle @(activeRoute == 3 ? "active" : "")" id="account-dropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="bi bi-person-circle h2"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-end bg-light" aria-labelledby="navbarDropdown">
                                            <a class="dropdown-item" asp-controller="UserRegistration" asp-action="LogOut">Log Out</a>
                                        </div>
                                    }
                                    else
                                    {
                                        <a asp-controller="UserRegistration" asp-action="Index">
                                            <button type="button" class="btn btn-dark">
                                                <span>Sign Up</span>
                                            </button>
                                        </a>
                                    }

                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            }
        }

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - sports_betting_app - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.20.0/jquery.validate.min.js" integrity="sha512-WMEKGZ7L5LWgaPeJtw9MBM4i5w5OSBlSjTjCtSnvFJGSVD26gE5+Td12qN5pvWXhuWaWcVwF++F7aqu9cvqP0A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
