@model IEnumerable<Wager>

<h1>Betting History</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Game</th>
      <th>Bet Type</th>
      <th>Bet Selection</th>
      <th>Odds</th>
      <th>Amount</th> 
    </tr>
  </thead>

  <tbody>
  @foreach (var wager in Model) 
  {
    @foreach (var bet in wager.bet_data)
    {
      <tr>
        <td>@wager.date</td>
        <td>@bet.game_id</td>
        <td>@bet.bet_type</td>
        <td>@bet.name</td>
        <td>@bet.american_odds</td>
        <td>@wager.wager_amount</td>
      </tr>
    }
  }
  </tbody>
</table>
