@model List<Wager>

@{
    ViewData["Title"] = "Home Page";
    var active = Model.FindAll(m => m.completed == false);

    string decimal_to_american(float dec)
    {
        int res = 0;
        if (dec >= 2.0f)
        {
            res = (int)Math.Round((dec - 1.0f) * 100.0f);
        }
        else
        {
            res = (int)Math.Round((-100.0f) / (dec - 1.0f));
        }

        if (res >= 0)
        {
            return "+" + res.ToString();
        }

        return res.ToString();
    }

    string floatToString(float? num)
    {
        if (num != null)
        {
            if (num > 0.0f)
            {
                return "+" + num.ToString();
            }
            return num.ToString();
        }

        return "";

    }


    IDictionary<string, float> graphData = new Dictionary<string, float>();

    foreach (Wager wager in Model)
    {
        string date_tmp = DateTime.Parse(wager.date).ToString("MM/dd");
        if (graphData.ContainsKey(date_tmp))
        {
            graphData[date_tmp] += wager.amount_win;
        }
        else
        {
            graphData.Add(date_tmp, wager.amount_win);
        }
    }

    var themeExists = Context.Request.Cookies.ContainsKey("Theme");
    string theme = "";


    if (themeExists)
    {
        theme = Context.Request.Cookies["Theme"];
    }

    bool isLoggedIn = Context.Request.Cookies.ContainsKey("sports-bet-user");

}
<head>
    <link rel="stylesheet" href="~/css/homeIndexStyle.css" asp-append-version="true" />
</head>

<body>
<div class="container-fluid">
    <div class="d-flex flex-column">
        <div class="hero-section">
            <h1 class="animated-header">Wager Watch</h1>
            <h2 class="pt-4">Enhance your game now with strategy and analysis.</h2>
            @if (!isLoggedIn)
            {
               <a href="UserRegistration" class="btn btn-primary btn-lg">Register/Login</a>
            }
            <div class="container-fluid pt-5 pb-5">
                <div id="test-row" class="row">
                    <div class="col">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front bg-primary">
                                    <h2 class="cardHeader">Watch</h2>
                                </div>
                                <div class="flip-card-back bg-primary">
                                    <h3>Watch your past betting history.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front bg-primary">
                                    <h2 class="cardHeader">Analysis</h2>
                                </div>
                                <div class="flip-card-back bg-primary">
                                    <h3>Access insights analysis to make informed bets.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="flip-card">
                            <div class="flip-card-inner">
                                <div class="flip-card-front bg-primary">
                                     <h2 class="cardHeader">Strategies</h2>
                                </div>
                                <div class="flip-card-back bg-primary">
                                    <h3>Discover and improve upon your past betting moves.</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="latest-wagers">
        <div class="text-center">
            @if (isLoggedIn)
            {
                <h1 class="pb-3">Active Wagers</h1>

                <table class="table table-@theme.ToLower() p-5">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Bet Data</th>
                            <th>Bet Odds</th>
                            <th>Amount Bet</th>
                            <th>Amount Won</th>
                            <th>Finished?</th>
                            <!-- Add more headers as needed -->
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@DateTime.Parse(item.date).ToString("MM/dd")</td>

                                <td>
                                    <div class="d-flex align-items-center justify-content-evenly">
                                        <div class="d-flex flex-row flex-nowrap align-items-center p-2" style="max-width: 400px; overflow: auto;">
                                            @foreach (var data in item.bet_data)
                                            {
                                                <div class="d-flex flex-column align-items-center justify-content-evenly p-2" style="outline: 2px solid rgba(75, 192, 192, 0.2);">
                                                    <div class="d-flex flex-row p-2">
                                                        <span style="font-weight: bolder">@data.gameTitle</span>
                                                    </div>
                                                    <div class="d-flex flex-row p-2">
                                                        <span style="font-weight: bolder">@data.bet_type</span>
                                                    </div>
                                                    <div class="d-flex flex-row flex-nowrap align-items-center justify-content-between p-2">
                                                        <div class="d-flex flex-column flex-nowrap align-items-center pe-5">
                                                            <span style="font-weight: bolder;">Odds</span>
                                                            <span>@decimal_to_american(data.price)</span>
                                                        </div>
                                                        <div class="d-flex flex-column flex-nowrap align-items-center ps-2">
                                                            <span style="font-weight: bolder;">@data.name.Split(' ').Last()</span>
                                                            @if (data.bet_type.Equals("totals"))
                                                            {
                                                                <span>@data.point</span>

                                                            }
                                                            else
                                                            {
                                                                <span>@floatToString(data.point)</span>

                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                </td>
                                <td>@floatToString(item.american_odds)</td>
                                <td>@item.wager_amount</td>
                                @if (item.completed)
                                {
                                    <td>@(item.amount_win + item.wager_amount)</td>
                                }
                                else
                                {
                                    <td>@item.amount_win</td>
                                }
                                <td>@item.completed</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            else
            {
                <h1 class="logIn-text">Please create an account and log in to get the full features of Wager Watch! </h1>      
            }

        </div>
    </div>
    </div>
</div>

</body>
</html>
